*{
    text-align: center;
}
body{
    background: rgb(177, 177, 177);
}

h1{
    color: rgb(21, 46, 156);
    font-size: 88px;
}
a{
    color: rgb(0, 140, 255);
    
}

.vermelho{
    color: rgb(255, 0, 0);
    background: black;
}

.exemplo-back{
    margin: auto;
    width: 50%;
    height: 500px;
    background: rgb(53, 51, 51) url("../img/pexels-nout-gons-80280-378570.jpg") no-repeat bottom;
    background-size: cover;
}
